# requirements.txt
#pip install -r requirements.txt

streamlit==1.33.0
folium==0.14.0
numpy==1.26.4
pandas==2.2.2
itertools==8.11.1  # For itertools functionality
streamlit_folium==0.11.2  # For Streamlit-Folium integration
scipy==1.11.2  # For distance calculation functions
geopy==2.4.0  # For geodesic distance calculation
random==1.0.1  # For random sampling and mutations
math==3.0.4  # For mathematical operations in algorithms
time==1.0.3  # For execution time measurement
matplotlib==3.8.1  # For visualizations
